* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
  text-align: center;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
ul {
  list-style: none;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
.container-fluid {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer {
  text-align: center !important;
  display: block !important;
}
@media (max-width: 400px) {
  body {
    min-height: 120vh;
  }
  main {
    height: 90vh;
  }
}
@media (max-width: 400px) {
  body {
    min-height: 120vh;
  }
  main {
    height: 90vh;
  }
}
@media (max-width: 350px) {
  body {
    min-height: 120vh;
  }
  main {
    height: 90vh;
  }
  .container-fluid {
    margin: 0 !important;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  button {
    margin: 10px 20%;
  }
}
